{% extends "base.html" %}
<!--{% load render_table from django_tables2 %}-->

{% block content %}
    <div>
        <h1>MARKETS</h1>
        <table>
            <thead>
                <tr>
                    {% for col in cols %}
                        <th>{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for col in cols %}
                        <th class="form inline well"><input type="text" style="width:100%" id={{col}} onkeyup="myFunction()" placeholder="...">
                        {% if forloop.counter > 2 %}
                            <select id={{forloop.counter}}>
                                <option value="<"><</option>
                                <option value="<="><=</option>
                                <option value="=">=</option>
                                <option value=">=">>=</option>
                                <option value=">">></option>
                            </select>
                        {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                {% for city in markets %}
                    <tr>
                        <td>{{city.msa}}</td>
                        <td>{{city.msa_name}}</td>
                        <td>{{city.population.total_ppl}}</td>
                        <td>{{city.unemployed_pe}}</td>
                        <td>{{city.medianrent.median_rent}}</td>
                        <td>{{city.rentalvacancy.rental_vacancy_pe}}</td>
                        <!--<td>{{city.population.ppl_lessthan5_pe}}</td>-->
                        <!--<td>{{city.population.ppl_5to9_pe}}</td>-->
                        <!--<td>{{city.population.ppl_10to14_pe}}</td>-->
                        <td>{{city.population.ppl_15to19_pe}}</td>
                        <td>{{city.population.ppl_20to24_pe}}</td>
                        <td>{{city.population.ppl_25to34_pe}}</td>
                        <td>{{city.population.ppl_35to44_pe}}</td>
                        <td>{{city.population.ppl_45to54_pe}}</td>
                        <td>{{city.population.ppl_55to59_pe}}</td>
                        <td>{{city.population.ppl_60to64_pe}}</td>
                        <td>{{city.population.ppl_65to74_pe}}</td>
                        <td>{{city.population.ppl_75to84_pe}}</td>
                        <td>{{city.population.ppl_morethan85_pe}}</td>
                        <td>{{city.jobdiversity.agriculture_pe}}</td>
                        <td>{{city.jobdiversity.construction_pe}}</td>
                        <td>{{city.jobdiversity.manufacturing_pe}}</td>
                        <td>{{city.jobdiversity.wholesale_pe}}</td>
                        <td>{{city.jobdiversity.retail_pe}}</td>
                        <td>{{city.jobdiversity.transportation_pe}}</td>
                        <td>{{city.jobdiversity.it_pe}}</td>
                        <td>{{city.jobdiversity.business_pe}}</td>
                        <td>{{city.jobdiversity.scientific_pe}}</td>
                        <td>{{city.jobdiversity.educational_pe}}</td>
                        <td>{{city.jobdiversity.entertainment_pe}}</td>
                        <td>{{city.jobdiversity.other_pe}}</td>
                        <td>{{city.jobdiversity.public_admin_pe}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
